.login{
    width: 100%;
    height: 100vh; /*viewport height*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f8b64c, #e29b29);
}

